body{
    background-color: #f6d2a9;
}

#header_bar {
    grid-column-start: 2;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_mini{
    height: 100px;
}

#header_bar nav {
    font-family: Montserrat;
    font-size: 28px;
    width: 60%;
}

#header_bar nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

#header_bar nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}