.container {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a .button {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  border: white solid 2px;
  padding: 0.5rem 1rem;
}

.below-nav {
  margin-top: 110px;
}

.px-1 {
  padding: 0rem 1rem;
}

.px-2 {
  padding: 0rem 2rem;
}

.px-3 {
  padding: 0rem 3rem;
}

.px-4 {
  padding: 0rem 4rem;
}

.px-5 {
  padding: 0rem 5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif, Old Standard, serif;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.navbar {
  position: absolute;
  width: 87.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 1.5rem;
}

.navbar-logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: lighter;
  line-height: 1.8rem;
  display: block;
  width: 70px;
  height: 70px;
  color: white;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  padding: 1rem 1.5rem;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
}

header {
  height: 100vh;
  width: 100wh;
  background-color: #37577c;
  padding: 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

header h1 {
  font-family: Old Standard, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  margin-top: 10rem;
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

header h3 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

header .container-socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-socials .i-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container-socials i {
  color: white;
}

.socials a {
  padding: 0 0.8rem;
}

section {
  height: 100vh;
  width: 100wh;
  padding: 0 5rem;
  overflow: hidden;
}

.section-quote {
  height: 55vh;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-quote :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
}

.section-quote :first-child blockquote {
  padding: 1rem 4rem;
}

.section-quote :first-child h3 {
  font-family: Old Standard, serif;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

.section-quote :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-photo {
  background-color: #37577c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.section-photo a {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-photo #featured-photo-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-photo .featured-photo-gallery {
  border: 4px black solid;
  height: 75vh;
  background-color: grey;
}

.section-photo .featured-photo-gallery-nav {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  color: grey;
}

.section-film {
  background-color: white;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-film div {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.section-film div .button {
  color: black;
  border: black solid 2px;
}

.section-code {
  background-color: #37577c;
}

.section-code .featured-code {
  height: inherit;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-rows: 5fr 1fr;
      grid-template-rows: 5fr 1fr;
}

.section-code .git-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.section-code .git-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

.section-code .git-info h2 {
  font-family: Old Standard, serif;
  font-weight: lighter;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0rem;
}

.section-code .git-info h3 {
  color: black;
  font-weight: normal;
  margin: 1rem 0rem;
}

.section-code .git-graph {
  background-color: grey;
  border: black 4px solid;
}

.section-code .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.section-code .links div {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-code .links div .button {
  color: black;
  border: black solid 2px;
  margin: 1rem;
}

footer {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h3 {
  font-weight: normal;
  font-size: 2.0rem;
  margin: 1rem;
}

footer a {
  color: black;
  margin: 1rem;
}

.photo-header {
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr 1fr;
      grid-template-rows: 5fr 1fr;
}

.photo-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-header h1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  font-family: Old Standard, serif;
  font-weight: normal;
  font-size: 4.5rem;
  padding-bottom: 2rem;
}

.photo-header .album-titles {
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 5rem;
}

.photo-header .album-titles h2 {
  color: black;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.photo-header .album-description {
  -ms-grid-row: 1;
      grid-row-start: 1;
  justify-items: center;
}

.photo-gallery {
  height: 200vh;
  background-color: silver;
}
/*# sourceMappingURL=index.css.map */