.container{
    overflow: hidden;
}

a{
    text-decoration: none;
    .button{
        text-transform: uppercase;
        font-size: 1.5rem;
        color: white;
        border: white solid 2px;
        padding: 0.5rem 1rem;        
    }
}

.below-nav{
    margin-top: 110px;
}

.px-1{
    padding: 0rem 1rem;
}
.px-2{
    padding: 0rem 2rem;
}
.px-3{
    padding: 0rem 3rem;
}
.px-4{
    padding: 0rem 4rem;
}
.px-5{
    padding: 0rem 5rem;
}

.mx-1{
    margin: 0rem 1rem;
}
.mx-2{
    margin: 0rem 2rem;
}
.mx-3{
    margin: 0rem 3rem;
}
.mx-4{
    margin: 0rem 4rem;
}
.mx-5{
    margin: 0rem 5rem;
}